<div class="row">
  <h1>Hard & Soft Skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="70"
  [radius]="100"
  [showImage]="true"
  [imageHeight]="75"
  [imageWidth]="75"
  [imageSrc]="'../assets/hardsoft/html.png'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="800"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
[percent]="100"
[radius]="100"
[showImage]="true"
[imageHeight]="75"
[imageWidth]="75"
[imageSrc]="'../assets/hardsoft/grupal.png'"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="800"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
[percent]="70"
[radius]="100"
[showImage]="true"
[imageHeight]="75"
[imageWidth]="75"
[imageSrc]="'../assets/hardsoft/CSS.png'"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="800"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
[percent]="90"
[radius]="100"
[showImage]="true"
[imageHeight]="75"
[imageWidth]="75"
[imageSrc]="'../assets/hardsoft/eng.png'"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="800"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
[percent]="80"
[radius]="100"
[showImage]="true"
[imageHeight]="75"
[imageWidth]="75"
[imageSrc]="'../assets/hardsoft/git.png'"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="800"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
[percent]="100"
[radius]="100"
[showImage]="true"
[imageHeight]="75"
[imageWidth]="75"
[imageSrc]="'../assets/hardsoft/js.png'"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="800"
></circle-progress>
</div>
</div>