.row{
    padding: 30px;
}
div{
    background-color:aliceblue;
    text-align: center;
}
@media (min-width: 576px){
    #fotodeperfil{
position: flex;
width: 150%;
border-radius: 100%;
left: 1%;
top: 950px
    }
}

@media (max-width: 575px){
    #fotodeperfil{
position: flex;
width: 50%;
border-radius: 100%;


    }
}

#nombre{
    font-weight: bold;
    margin-top: 10%;
}